.resumeHeader1{
    font: 40px; 
    color: black;
    margin: 0 auto;
    text-align: center;
}

#firstName{
    color: black;
}

#lastName{
    color: red;
}

.resumeHeader2{
    background-color: black;
}