.resumeHeader1{
    margin: 0 auto;
    text-align: center;
    padding: 25px;
}

#firstName{
    color: black; font-size: 80;
}

#lastName{
    color: red; font-size: 80;
}

.address{
    background-color: black;
    color: white;
    font: 60px;
    text-align: center;
    
}
